asgiref==3.2.7
botocore==1.16.24
colorama==0.4.3
Django==3.0.7
django-extensions==2.2.9
docutils==0.15.2
jmespath==0.10.0
pyasn1==0.4.8
pygraphviz==1.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
